.app {
  display: flex;
  justify-content: center;
}

.table {
  display: table;
  border-collapse: collapse;
}

.table-head{
  display: table-header-group;
}

.table-row{
  display: table-row-group;
}

.table-cell {
  display: table-cell;
  padding: 10px;
  border: 1px solid black;
}